<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello wasm-pack!</title>
  </head>
  <body>
    <noscript>This page contains webassembly and javascript content, please enable javascript in your browser.</noscript>
    <script src="./bootstrap.js"></script>

	<div id="app">
      <input type="text" v-model="key" placeholder="Key">
      <input type="text" placeholder="message" v-model="msg" v-on:keydown.enter="encrypt">

      <div>{{ encrypted_msg }}</div>
    </div>
  </body>
</html>
